body {
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  background-image: url(https://wallpapers.com/images/hd/blue-carbon-fiber-art-dth3n8dsro4v88p4.webp);
  background-color: white;
}

h1 {
  font-size: 6rem;
  font-family: "Courier New", Courier, monospace;
  color: white;
}
.gsc-control-cse {
  width: 85dvw !important;
  margin: 0 auto;
}
h2 {
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  background: inherit;
  background-clip: text;
  color: white;
  
}
a {
  font-size: 2rem;
  text-decoration: none;
}
h3 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  font-size: 110%;
color: white;
}
a:hover {
  text-decoration: underline;
}
header {
  background-color: rgb(27, 191, 177);
  height: 50px;
  display: flex;
  justify-content: end;
  padding-right: 20px;
  box-sizing: border-box;
  
}
.page3 {
  height: 45px;
  width: 100px;
  background-color: blue;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 10%;
}
.page1:hover {
  cursor: pointer;
  text-decoration: underline;
}
.page3:hover {
  cursor: pointer;
  text-decoration: underline;
}
.page2:hover {
  cursor: pointer;
  text-decoration: underline;
}
.page1 {
  background-color: blue;
  height: 45px;
  width: 100px;
  background-color: blue;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 10%;
}
.page2 {
  background-color: blue;
  height: 45px;
  width: 100px;
  background-color: blue;
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-radius: 10%;
}
.basspicture {
  height: 45px;
  width: 45px;
  position: absolute;
  left: 0;
  border-radius: 10%;
}
.gcse-search {
  width: 1000px;
}
.maplink {
  font-size: 1rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.maplink :hover {
  cursor: pointer;
}

#map {
  height: 500px; /* Ensure this height is set */
  width: 100%;   /* Ensure this width is set */
}
.searchmode {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
  Segoe UI Symbol;
font-size: 110%;
color: greenyellow;
}

